.about {
  height: 100vh;
  width: 100%;
  background: rgb(15, 15, 15);
  color: white;
  display: none;
  position: fixed;
  left: 50%;
  bottom: 0vh;
  z-index: 999;
  opacity: 0;
  translate: -50% 0;
}
.about h2,
.about p,
.about span {
  letter-spacing: 6px;
}

.circle {
  position: absolute;
  left: calc(50% - 10vw);
  top: calc(40% - 10vw);
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 1px solid white;
  /* display: none; */
}
.profile {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.profile img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.aboutMe,
.studies,
.skills,
.experience {
  position: absolute;
  width: fit-content;
  height: auto;
  overflow: hidden;
}
.aboutMe {
  left: -30vw;
  top: -5vh;
}
.aboutMe h1 {
  position: relative;
  top: 10vh;
}
.UpLeftLine {
  position: absolute;
  left: -30vw;
  top: 0;
  width: 0;
  height: 0;
  padding: 20px 0 0 0;
  border-top: 1px solid white;
  /* animation: slideRight 1s ease-in-out forwards; */
}
.UpLeftLine::after {
  content: "";
  position: absolute;
  left: 19.9vw;
  top: 11.5vh;
  width: 0;
  height: 0;
  border-top: 1px solid white;
  animation: slideRight 1s ease-in-out forwards;
  transform: skew(0deg, 30deg);
}
.UpLeftLine p {
  width: 110%;
}

.skills {
  left: 43vw;
  top: -5vh;
}

.UpRightLine {
  position: absolute;
  left: 30vw;
  top: 0;

  width: 0;
  height: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

  border-top: 1px solid white;
  /* animation: slideRight 1s ease-in-out forwards; */
}
.UpRightLine::after {
  content: "";
  position: absolute;
  left: -19.9vw;
  top: 11.5vh;
  width: 0;
  height: 0;
  border-top: 1px solid white;
  animation: slideRight 1s ease-in-out forwards;
  transform: skew(0deg, -30deg);
}
.UpRightLine p,
.UpRightLine span {
  width: 40%;
  height: 5vh;
}

.studies {
  left: -30vw;
  top: 44vh;
}
.DownLeftLine {
  position: absolute;
  left: -30vw;
  top: 49vh;
  width: 0;
  height: 0;
  border-top: 1px solid white;
  /* animation: slideRight 1s ease-in-out forwards; */
}
.DownLeftLine::after {
  content: "";
  position: absolute;
  left: 19.9vw;
  top: -11.7vh;
  width: 0;
  height: 0;
  border-top: 1px solid white;
  animation: slideRight 1s ease-in-out forwards;
  transform: skew(0deg, -30deg);
}
.experience {
  left: 40vw;
  top: 44vh;
}
.DownRightLine {
  position: absolute;
  left: 30vw;
  top: 49vh;
  width: 0;
  height: 0;
  border-top: 1px solid white;
  /* animation: slideRight 1s ease-in-out forwards; */
}
.DownRightLine::after {
  content: "";
  position: absolute;
  left: -19.9vw;
  top: -11.7vh;
  width: 0;
  height: 0;
  border-top: 1px solid white;
  animation: slideRight 1s ease-in-out forwards;
  transform: skew(0deg, 30deg);
}

.slideRight,
.slideLeft {
  background-color: rgb(15, 15, 15);
  height: 100%;
  width: 50%;
  margin: auto;
  position: absolute;
  z-index: 1;
}
.slideLeft {
  left: 0;
}
.slideRight {
  right: 0;
}
.animation {
  animation: slideRight 2s ease-in-out forwards;
}
.shrink {
  animation: shrink 2s ease-in-out forwards;
}

.conts {
  padding: 20px 0 0 0;
}

.conts a {
  color: white;
  opacity: 0.4;
}
