@import url("main.css");
@import url("about.css");

:root {
  --black: #202121;
  --white: #f4f7f6;
  --fontA: Apocfont;
  /** sunny side **/
  --blue-background: #c2e9f6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  /* --white: #fff; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Apocfont;
  src: url(../Assets/Fonts/apoc-roman-variable-wght.woff2);
}
@keyframes moveCircle {
  0% {
    transform: translate3d(var(--xA), var(--yA), 0);
  }
  100% {
    transform: translate3d(var(--xB), var(--yB), 0);
  }
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(60) translateX(10%);
  }
}
@keyframes bigger {
  0% {
    scale: 0.1;
  }
  100% {
    scale: 2.5;
  }
}

@keyframes switch {
  0% {
    left: 2px;
  }
  60% {
    left: 2px;
    width: 72px;
  }
  100% {
    left: 48px;
    width: 23px;
  }
}
@keyframes reverse {
  0% {
    left: 48px;
    width: 23px;
  }
  60% {
    left: 10px;
    width: 72px;
  }
  100% {
    left: 2px;
  }
}
@keyframes slideUp {
  0% {
    transform: translate(0, 2rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(2px);
  }
}

@keyframes slideRight {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 20vw;
    height: 20vw;
  }
}

@keyframes shrink {
  0% {
    width: 50%;
  }
  100% {
    width: 0;
  }
}
